.section {
  position: relative;
  min-height: 100vh;
  background-color: var(--primary-color-main);
}

.container {
  padding-block: 5rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  width: 100rem;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header_container {
  margin-bottom: 2.5rem;
}
