.button_container {
  margin-left: auto;
  margin-bottom: 2.5rem;

  .create_topic_button {
    height: 2.625rem;
    background-color: var(--primary-color-light);
    color: var(--background-color);

    &:hover,
    &:active {
      background-color: var(--primary-color-light);
      color: var(--background-color);
    }
  }
}

.create_btns {
  display: flex;
  margin-top: 8px;
  gap: 16px;
  justify-content: space-between;
}
