.title {
  text-align: center;
  background: linear-gradient(
    180deg,
    #ff5c00 50%,
    #ffffff 67.91%,
    #4396b5 89.37%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.listItem {
  padding: 0 !important;
  margin-top: 1.6rem;
  text-transform: uppercase;
  font-size: 1.5rem;
  white-space: nowrap;
  display: flex;
  align-items: center;
  > img {
    margin-right: 2rem;
    @include sm {
      width: 5rem;
      height: 5rem;
    }
  }
}
.listTextLabel {
  width: 13rem;
}
.levelsItem {
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
  > img {
    margin-right: 2rem;
    @include sm {
      width: 3rem;
      height: 3rem;
    }
  }
}
