@import './src/assets/scss/variables';
@import './src/assets/scss/reset';

@font-face {
  font-family: 'Press Start 2P';
  src: url('/font/PressStart2P-Regular.TTF') format('truetype');
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: var(--primary-font), sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.4;
  color: #fff;
  @include xxl {
    font-size: 12px;
  }
  @include lg {
    font-size: 10px;
  }
}

.container {
  width: 102.5rem;
  max-width: 100%;
  margin: 0 auto;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  height: 100%;
}

h1,
h2,
h3,
h4 {
  font-family: 'Press Start 2P', sans-serif;
}

.MuiInputBase-root legend {
  display: none;
}
