.modal {
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 35rem;
  background-color: #fff;
  color: #3f767b;
  border: 2px solid #000;
  box-shadow: 24;
  padding: 4rem 2rem;
}
