.canvas_container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: rgb(54, 90, 54);
}

.button_container {
  position: absolute !important;
  bottom: 40px;
  right: 76px;
}

@font-face {
  font-family: 'pixel';
  src: url('/font/fffforward.ttf') format('truetype');
  src: url('/font/fffforward.eot');
  src: url('/font/fffforward.eot?#iefix') format('embedded-opentype'),
    url('/font/fffforward.woff2') format('woff2'),
    url('/font/fffforward.woff') format('woff'),
    url('/svg/fffforward.svg#fff_forwardregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
