.canvas_container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: rgb(54, 90, 54);
}

.button_container {
  position: absolute !important;
  bottom: 40px;
  right: 76px;
}

@font-face {
  font-family: 'pixel';
  src: url('/font/pixel.ttf') format('truetype');
}
