.container {
  display: flex;
  justify-content: center;
  align-items: end;
  height: 100vh;
  background-image: url('/images/500.png'),
    linear-gradient(to bottom, black, #485454);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  image-rendering: pixelated;
}
