.section {
  position: relative;
  height: 100vh;
}
.container {
  padding-top: 4.375rem;
  padding-bottom: 4.375rem;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.background {
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.wrapper {
  background-color: var(--background-color);
  max-height: 100%;
  width: 100rem;
  max-width: 100%;
  padding: 5rem;
  border-radius: 0.625rem;
  display: flex;
  flex-direction: column;
}
.title {
  text-align: center;
}

.links {
  margin-top: 0.625;
  li {
    margin: 1.25;
    text-align: center;
    margin: 0 auto;
  }
}
