.container {
  background-color: #fff;
  border: 1px solid var(--background-color);
  border-radius: 30px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.25rem 0 0.25rem;
  margin: 0 0.7rem 0.2rem 0;
  cursor: pointer;

  .emoji {
    padding-bottom: 3px;
  }

  span {
    margin-left: 5px;
    font-size: 0.8rem;
    color: #000;
  }
}
