.login {
  height: 100vh;
  background-image: url('/images/BugsSurvivorsBGt.png');
  background-repeat: no-repeat;
  background-size: cover;
  image-rendering: pixelated;
}

.container {
  height: 100%;
  width: 33.333333%;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2f464ab2;
}

.wrapper {
  width: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6.25rem;
}

.title {
  text-align: center;
  background: linear-gradient(
    180deg,
    #ff5c00 50%,
    #ffffff 67.91%,
    #4396b5 89.37%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 1.5rem;
}

.button_container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
