.registration {
  height: 100%;
  background-image: url('../../assets/images/BugsSurvivorsBGt.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
}
