.table {
  margin-top: 3.125rem;
  overflow: auto;
  flex-grow: 1;
  max-height: 100%;
}
.pagination {
  margin-top: 2.5rem;
  overflow: initial !important;
}

.user {
  display: flex;
  align-items: center;
  .avatar {
    margin-right: 0.5rem;
  }
}
