.clue {
  position: absolute;
  right: 5.25rem;
  bottom: 5.25rem;
  width: 3rem;
  height: 3rem;
  background-image: url(../../../public/images/clue.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
