:root[data-theme='dark'] {
  --primary-font: 'Press Start 2P';
  --primary-color-light: #c1e0df;
  --primary-color-main: #3f767b;
  --primary-color-dark: #c2e6eb;
  --secondary-color-main: #c1e0df;
  --secondary-color-text: #345256;
  --background-color: #2f464a;
  --game-background: #365a36;
  --blue-dianne: #3f767b;
  --main-gradient: linear-gradient(#ff5c00 46%, #ffffff, #4396b5 80%);
  --wrapper-background: rgb(63, 118, 123, 0.8);
  --main-background: url('/images/main-menu_background.png');
}

:root[data-theme='light'] {
  --primary-font: 'Press Start 2P';
  --primary-color-light: #f2f9f8;
  --primary-color-main: #c1e0df;
  --primary-color-dark: #345256;
  --secondary-color-main: #3f767b;
  --secondary-color-text: #f2f9f8;
  --background-color: #2f464a;
  --game-background: #365a36;
  --blue-dianne: #3f767b;
  --main-gradient: linear-gradient(#ff5c00 46%, #ffffff, #4396b5 80%);
  --wrapper-background: rgba(193, 224, 223, 0.75);
  --main-background: url('/images/mainBackground.png');
}
