:root {
  --primary-font: 'Montserrat';
  --secondary-font: 'Press Start 2P';
  --primary-color-light: #c1e0df;
  --primary-color-main: #3f767b;
  --primary-color-dark: #345256;
  --secondary-color-main: #c1e0df;
  --background-color: #2f464a;
}
